<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Adventurer's Kingdom</h1>
    <p th:text="${message}">This is a static message.</p>
    <a href="http://localhost:8080/search">Search</a>
    <a href="http://localhost:8080/add">Add Item</a>
    <a href="http://localhost:8080/api/items/filter/itemType/ANIME">Animes</a>
    <br>
    <a href="http://localhost:8080/api/items/filter/itemType/NOVEL">Novels</a>
    <br>
    <a href="http://localhost:8080/api/items/filter/itemType/WEBNOVEL">Webnovels</a>
    <br>
    <a href="http://localhost:8080/api/items/filter/itemType/WEBTOON">Webtoons</a>
</body>
</html>