<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="#" th:action="@{/submit}" th:object="${userEntity}" method="post">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" th:field="*{name}"/>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="password"/>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <p>Or</p>
    <br>
    <form action="http://localhost:8080/signup">
        <input type="submit" value="Sign Up"/>
    </form>
</body>
</html>